<%= simple_form_for(@cocktail) do |f| %>
<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= f.input :name %>
      <%= f.submit %>
    </div>
  </div>
</div>
<% end %>
