<div class="text-center">
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
  <%= link_to 'Back', cocktails_path  %>
</div>
<br>


<h1 class="text-center">New Cocktail</h1>
<%= render 'form' %>


